* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 30px;

    font-family: Arial, sans-serif;

    background-color: #061b22;
    color: white;
}

h1 {
    text-align: center;
}

#content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    gap: 30px;
}


.book {
    width: 405px;

    background-color: #103b48;

    border-radius: 20px;

    overflow: hidden;
}


.book h2 {
    margin: 0;
    padding: 22px;

    text-align: center;

    border-bottom: 2px solid #55c7e8;
}


.book_image {
    height: 170px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 90px;

    background-color: #124957;

    border-bottom: 2px solid #55c7e8;
}


.price_like {
    padding: 30px 20px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.price_like h3 {
    margin: 0;

    color: #ff5959;

    font-size: 25px;
}


.price_like div {
    display: flex;
    align-items: center;

    gap: 8px;
}


.price_like button {
    border: none;
    background: none;

    font-size: 30px;

    cursor: pointer;
}


/* TABELLE */

table {
    width: calc(100% - 40px);

    margin: 0 20px 25px;

    border-collapse: collapse;
}


th {
    width: 140px;

    padding: 4px 0;

    text-align: left;
}


td {
    padding: 4px 0;
}


/* KOMMENTARE */

.comment_area {
    padding: 20px;

    border-top: 2px solid #55c7e8;
}


.comment_area h3 {
    margin-top: 0;
}


.comments {
    height: 145px;

    overflow-y: auto;

    margin-bottom: 10px;
}


.comment {
    display: flex;

    margin-bottom: 10px;

    line-height: 1.4;
}


.comment b {
    width: 140px;
    min-width: 140px;
}


.comment_input {
    display: flex;

    border-bottom: 2px solid #55c7e8;
}


.comment_input input {
    width: 100%;

    padding: 10px;

    border: none;
    outline: none;

    background-color: transparent;
    color: white;
}


.comment_input button {
    border: none;

    background-color: transparent;
    color: #55c7e8;

    font-size: 24px;

    cursor: pointer;
}


@media (max-width: 500px) {

    body {
        padding: 15px;
    }

    .book {
        width: 100%;
    }

    .comment b {
        width: 100px;
        min-width: 100px;
    }
}